@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    background-color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

/* HEADER DU SITE (UNIVERSEL) */

header {
    width: 100%;
}

section.navbar {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    padding: 10px 0px;
}

ul.navlinks {
    display: inline-flex;
    justify-content: space-around;
}

ul li.navlink {
    list-style-type: none;
}

.main-title {
    margin: 0;
    padding: 10px  20px;
}

.main-title a {
    color: #078B97;
}

.title-nav p {
    color: #41300F;
    margin: 0;
    padding: 0px 20px;
    padding-bottom: 10px;
    text-align: center;
}

.navbar-links {
    display: flex;
}



ul.navlinks {
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 50px;
}

li.navlink {
    padding: 0px 20px;
    font-weight: 500;
}

li.navlink a:hover {
    border-bottom: 3px solid #078B97;
}

li.navlink a {
    color: #41300F;
    transition: all 0.1s ease-in;
}

/* CONTENT (UNIVERSEL) */

.sous_titre {
    color: #FFB73E;
    text-align: center;
}

.sous_sous_titre {
    color: #FF6A3E;
    padding: 10px 0px;
}

.content {
    display: inline-flex;
    justify-content: space-around;
    width: 95%;
}

.subpart {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    margin-left: -30px;
    margin: 50px 0px;
}

.subpart p {
    margin-top: auto;
    margin-bottom: auto;
}

#methode {
    width: 300px;
    border-radius: 30px;
    transform: rotateX(10deg) rotateY(-10deg) rotateZ(10deg);
    -webkit-box-shadow: 0px 20px 60px 0px rgb(218 218 218);
    -moz-box-shadow: 0px 20px 60px 0px rgba(218,218,218,1);
    box-shadow: 0px 20px 60px 0px rgb(218 218 218);
}

#decompo {
    height: 200px;
    border-radius: 20px;
    transform: rotateX(10deg) rotateY(10deg) rotateZ(-10deg);
    -webkit-box-shadow: 0px 20px 60px 0px rgb(218 218 218);
    -moz-box-shadow: 0px 20px 60px 0px rgba(218,218,218,1);
    box-shadow: 0px 20px 60px 0px rgb(218 218 218);
}

.sommaire {
    width: 280px;
    border: 2px solid #3d3d3d1f;
    border-radius: 10px;
    padding: 10px 20px;
    margin-left: 50px;
    height: max-content;
    position: sticky;
    margin-top: 20px;
    margin-right: 10px;
}

.sommaire h3 {
    color: #3d3d3d38;
}

/* FOOTER DU SITE (UNIVERSEL) */

footer {
    font-family: 'Roboto';
    font-weight: 300;
    padding: 8px;
    background-color: #04373b;
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
}

.div-php-text p{
    color: #078B97;
}

footer img {
    height: 100px;
    margin-top: auto;
    margin-bottom: auto;
}


/* QUIZZ (UNIVERSEL) */

.form {
    width: 60%;
    display: block;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.questions {
    text-align: center;
}

.separator {
    width: 30px;
    border: 2px solid #078B97;
}

input {
    margin-right: 20px;
    cursor: pointer;
}

.above {
    opacity: 60%;
    width: 70%;
    border: 1px solid lightgray;
}

.button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    background-color: #078B97;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.button:hover {
    background-color: #077d88;
}



@media screen and (max-width: 1100px) {
    #methode {
        height: 170px;
        width: 190px;
    }
}


.bouttons {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.bouttons button {
    padding: 10px 15px;
    cursor: pointer;
}

#back {
    border: none;
    background-color: lightgrey;
    border-radius: 5px;
    color: grey;
}

#next {
    border: none;
    background-color: #FFB73E;
    border-radius: 5px;
    color: #c28f37;
}

#back:hover {
    background-color: rgb(194, 194, 194);
}

#next:hover {
    background-color: #e6a535;
}

/* PAGE 1 */

.python{
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	margin: 10px;
	width: max-content;
	overflow: scroll;
	background-color: #111111;
	border-radius: 3px;
	font-family: courier, monospace;
	color: #FEFEFE;
}

.image img{
	width: 400px;
}

.forme_img {
    width: 500px;
}
