@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    background-color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
}

section.navbar {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    padding: 10px 0px;
}

ul.navlinks {
    display: inline-flex;
    justify-content: space-around;
}

ul li.navlink {
    list-style-type: none;
}

.main-title {
    margin: 0;
    padding: 10px  20px;
}

.main-title a {
    color: #0DE04c;
}

.title-nav p {
    color: #41300F;
    margin: 0;
    padding: 0px 20px;
    padding-bottom: 10px;
    text-align: center;
}

.navbar-links {
    display: flex;
}



ul.navlinks {
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 50px;
}

li.navlink {
    padding: 0px 20px;
    font-weight: 500;
}

li.navlink a:hover {
    border-bottom: 3px solid #0DE04c;
}

li.navlink a {
    color: #41300F;
    transition: all 0.1s ease-in;
}

.sous_titre {
    color: #41300F;
    text-align: center;
}

.sous_sous_titre {
    color: #0DE04c;
    padding: 10px 0px;
}

.content {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
}

.subpart {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    margin-left: -30px;
    margin: 50px 0px;
}

.subpart p {
    margin-top: auto;
    margin-bottom: auto;
}

#methode {
    width: 300px;
    border-radius: 30px;
    transform: rotateX(10deg) rotateY(-10deg) rotateZ(10deg);
    -webkit-box-shadow: 0px 20px 60px 0px rgb(218 218 218);
    -moz-box-shadow: 0px 20px 60px 0px rgba(218,218,218,1);
    box-shadow: 0px 20px 60px 0px rgb(218 218 218);
}

#decompo {
    height: 200px;
    border-radius: 20px;
    transform: rotateX(10deg) rotateY(10deg) rotateZ(-10deg);
    -webkit-box-shadow: 0px 20px 60px 0px rgb(218 218 218);
    -moz-box-shadow: 0px 20px 60px 0px rgba(218,218,218,1);
    box-shadow: 0px 20px 60px 0px rgb(218 218 218);
}

.sommaire {
    width: 280px;
    border: 2px solid #3d3d3d1f;
    border-radius: 10px;
    padding: 10px 20px;
    margin-left: 50px;
}

.sommaire h3 {
    color: #3d3d3d38;
}


footer {
    font-family: 'Roboto';
    font-weight: 300;
    padding: 8px;
    background-color: #193321;
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
}

.div-php-text p{
    color: #2e633e;
}

footer img {
    height: 100px;
    margin-top: auto;
    margin-bottom: auto;
}